<style> 
  body{
    margin:0;
  }
  .full-screen-width {
      position: relative;
      max-width: 100%;
      width: 100%;
      height: 190px;
      margin: 0;
  }

  .navbar {
      padding: 9px 16px;
      background: {{site.data.theme.primary}};
      color: {{site.data.theme.on_primary}};
  }

  .sticky {
      position: fixed;
      top: 0;
      width: 100%;
  }
</style>
<img class="full-screen-width" src="{{site.baseurl}}/assets/banner.jpg">
<div class="navbar" id="navbar">
  <h2>My Header</h2>
</div>
