<style> 
    body{
      margin:0;
    }
    .full-screen-width {
        position: relative;
        max-width: 100%;
        width: 100%;
        height: 190px;
        margin: 0;
    }
  
    .navbar {
        position: sticky;
        top: 0px;
        height: 60px;
        padding: 4px 16px;
        z-index: +1;
        background: {{site.data.theme.primary}};
        color: {{site.data.theme.on_primary}};
    }
  
    .navbar a {
      font-size: 24;
      text-decoration: none;
      display: block;
      padding: 14px 16px;
      float: left;
      color: {{site.data.theme.on_primary}};
    }
  
    .centered img {
      display: block;
      padding: 4px 8px;
      height: 50px;
      float: left;
    }
  
    .navbar a:hover {
      background-color: {{site.data.theme.primary_dark}};
    }
  
    .centered {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      max-height: 100%;
    }
  </style>
  <img class="full-screen-width" src="/assets/banner.png">
  <div class="navbar" id="navbar">
    <div class="centered">
    <img src="/assets/Team Logo.png">
    {% for page in site.data.pages %}
      <a href="{{site.url}}/{{page.url}}">{{page.name}}</a>
    {% endfor %}
  </div>
  </div>
  