<style> 
  body{
    margin:0;
  }
  .full-screen-width {
      position: relative;
      max-width: 100%;
      width: 100%;
      height: 190px;
      margin: 0;
  }

  .navbar {
      position: sticky;
      top: 0px;
      height: 75px;
      padding: 4px 16px;
      z-index: +1;
      background: {{site.data.theme.primary}};
      color: {{site.data.theme.on_primary}};
  }

  .tab {
    display: inline-block;
    margin-left: 40px;
  }

  .navbar a {
    font-size: 24;
    text-decoration: none;
    color: {{site.data.theme.on_primary}};
  }
  .centered {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
</style>
<img class="full-screen-width" src="/assets/banner.jpg">
<div class="navbar" id="navbar">
  <div class="centered">
  {% assign pages = site.pages | where_exp: 'page', 'page.url contains "_pages"' %}
  {% for page in pages %}
    <a href="{{page.url}}">{{page.title}}</a>
    <span class="tab"></span>
  {% endfor %}
</div>
</div>
