<style> 
  body{
    margin:0;
  }
  .full-screen-width {
      position: relative;
      max-width: 100vw;
      width: 100vw;
      height: 190px;
      margin: 0;
  }

  .navbar {
      padding: 9px 16px;
      background: {{site.colors.main}};
      color: {{site.colors.accent}};
      margin-top: -6px;
  }

  .sticky {
      position: fixed;
      top: 0;
      width: 100%;
  }

  .sticky+.content {
      padding-top: 100px;
  }
</style>
<img class="full-screen-width" src="{{site.baseurl}}/assets/banner.jpg">
<div class="navbar" id="navbar">
  <h2>My Header</h2>
</div>
<script>
  window.onscroll = function () { myFunction() };

  var header = document.getElementById("navbar");
  var sticky = header.offsetTop;

  function myFunction() {
      if (window.pageYOffset > sticky) {
          header.classList.add("sticky");
      } else {
          header.classList.remove("sticky");
      }
  }
</script>
