<style>
    .profile {
        background-color: {{ site.data.theme.background }};
        padding-left: 100px;
        padding-right: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
    }

    .profile:after {
        content: "";
        display: table;
        clear: both;
    }

    .profile p {
        color: {{site.data.theme.on_background}};
    }

    .profile h1 {
        color: {{site.data.theme.on_background}};
    }

    .profile h2 {
        color: {{site.data.theme.on_background}};
    }

    .member-info {
        float: left;
        max-width: 60%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .profile:nth-of-type(even) .member-info {
        order:2;
    }
    .profile:nth-of-type(odd) .member-info {
        order:1;
    }
    .profile:nth-of-type(even) .profile-pic {
        order:1;
    }
    .profile:nth-of-type(odd) .profile-pic {
        order:2;
    }

    .profile-pic {
        margin-top: 20px;
        float: right;
        width: 40%;
    }

    .profile-pic img {
        max-width: 100%;
        max-height: 250px;
    }

    @media (max-width: 600px) {
        .profile {
            flex-direction: column;
            padding-left: 20px;
            padding-right: 20px;
        }
        .member-info {
            order: 2 !important;
            min-width: 100%;
            margin-left: 0px;
        }

        .profile-pic {
            order: 1 !important;
            width: 90%;
            float: left;
            margin-left: 0px;
        }
    }
</style>

<div class="profile">
    <div class="member-info">
        <h1>{{ include.member.first }} {{ include.member.last }}</h1>
        <h2>
            {% for role in include.member.roles %}
                ——{{role}}
            {% endfor %}
        </h2>
        <p>{{ include.member.personal_description }}</p>
        <p>{{ include.member.professional_description }}</p>
    </div>
    <div class="profile-pic">
        <img src={{include.member.image}}>
    </div>
</div>