<style>
    .profile {
        margin-top: 40px;
    }
    .profile:after {
      content: "";
      display: table;
      clear: both;
    }
    .profile p {
        color: {{ site.data.theme.on_background}};
    }
    .profile h1 {
        color: {{ site.data.theme.on_background}};
    }
    .profile h2 {
        color: {{ site.data.theme.on_background}};
    }
    .member_info {
        margin-left: 5%;
        float: left;
        width: 40%;
        min-width: 250px;
    }
    .profile_pic {
        margin-left: 5%;
        margin-right: 0%;
        float: left;
        width: 40%;
        min-width: 250px;
    }
    .profile_pic img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
    @media (max-width: 560px) {
        .member_info {
            width: 90%;
            min-width: 50px;
        }
        .profile_pic {
            width: 90%;
            min-width: 50px;
        }
    }
</style>

<div class="profile">
    <div class="member_info">
        <h1>{{ include.member.first }} {{ include.member.last }}</h1>
        <h2>
            {% for role in include.member.roles %}
                ——{{role}}
            {% endfor %}
        </h2>
        <p>{{ include.member.personal_description }}</p>
        <p>{{ include.member.professional_description }}</p>
    </div>
    <div class="profile_pic">
        <img src={{include.member.image}}>        
    </div>
</div>