<style>
    .profile {
        background-color: antiquewhite;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .profile:after {
        content: "";
        display: table;
        clear: both;
    }

    .profile p {
        color: {{site.data.theme.on_background}};
    }

    .profile h1 {
        color: {{site.data.theme.on_background}};
    }

    .profile h2 {
        color: {{site.data.theme.on_background}};
    }

    .member_info {
        float: left;
        max-width: 60%;
    }

    .member-text {
        margin-left: 100px;
        margin-right:40px;
        float: left;
    }

    .profile_pic {
        margin-top: 20px;
        float: right;
        width: 40%;
    }

    .profile_pic img {
        max-width: 100%;
    }

    @media (max-width: 600px) {
        .profile {
            display: flex;
            flex-direction: column;
        }
        .member_info {
            order: 2;
            min-width: 100%;
        }

        .member-text {
            margin-left: 20px;
            margin-right: 20px;
        }

        .profile_pic {
            order: 1;
            width: 90%;
            float: left;
            margin-left: 20px;
        }
    }
</style>

<div class="profile">
    <div class="member_info">
        <div class="member-text">
            <h1>{{ include.member.first }} {{ include.member.last }}</h1>
            <h2>
                {% for role in include.member.roles %}
                ——{{role}}
                {% endfor %}
            </h2>
            <p>{{ include.member.personal_description }}</p>
            <p>{{ include.member.professional_description }}</p>
        </div>
    </div>
    <div class="profile_pic">
        <img src={{include.member.image}}>
    </div>
</div>