<canvas id="{{ include.competition.competition }}" style="max-width: 90%; height: 100%; min-height: 250px;"></canvas>

<script>
    {% assign counter=0 %}
    var xValues = [
    {% for match in include.competition.matches %}
        {% assign counter = counter | plus: 1 %}
        "{{ match.match }}",
    {% endfor %}];
    var scores = [
    {% for match in include.competition.matches %}
        {{ match.score }},
    {% endfor %}];
    var o_scores = [
    {% for match in include.competition.matches %}
        {{ match.o_score }},
    {% endfor %}];
    var a_skills = [
    {% for num in include.competition.matches %}
        {{include.competition.a_skills }},
    {% endfor %}];
    var d_skills = [
    {% for num in include.competition.matches %}
        {{include.competition.d_skills }},
    {% endfor %}];
    
    

    var max_score = {{include.competition.d_skills }};
    if ({{include.competition.a_skills }} > max_score) {
        max_score = {{include.competition.a_skills }};
    }
    {% for match in include.competition.matches %}
    if ({{match.score}} > max_score) {
      max_score = {{match.score}};
    }
    {% endfor %};
    max_score = Math.round((max_score + 25) / 50) * 50;
    
    new Chart("{{ include.competition.competition }}", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [{
            label: "Scores",
            fill: false,
            backgroundColor: "rgba(0,0,255,1.0)",
            borderColor: "rgba(0,0,255,1)",
            data: scores
        },
        {
            label: "Opponents Scores",
            fill: false,
            backgroundColor: "rgba(255,0,255,1.0)",
            borderColor: "rgba(255,0,255,1)",
            data: o_scores
        },
        {
            label: "Autonomous Skills",
            fill:false,
            pointRadius:1,
            data: a_skills,
            backgroundColor: "rgba(255,0,0,1.0)",
            borderColor: "rgba(255,0,0,1)",
        },
        {
            label: "Driver Skills",
            fill:false,
            pointRadius:1,
            data: d_skills,
            backgroundColor: "rgba(0,255,0,1.0)",
            borderColor: "rgba(0,255,0,1)",
        }]
      },
      options: {
        legend: {
            display: true,
            position: "bottom",
        },
        scales: {
          yAxes: [{ticks: {min: 0, max:max_score}}],
        }
      }
    });
    </script>