<style>
    .robot-content {
        display: flex;
        flex-direction: row;
        padding-top: 30px;
    }

    .column {
        width: 60%;
        margin-left: 100px;
        margin-right: 100px
    }

    .robot-description {
        width: 100%;
        height: auto;
        float: left;
        margin-bottom: 30px;
    }

    .robot-gallery {
        width: 100%;
        float: left;
        position: relative;
    }

    .text {
        margin-left: 20px;
        margin-right: 20px;
        text-indent: 20px;
    }

    .robot-statistics {
        width: 40%;
        float: left;
    }

    .competition-scatter {
        width: 90%;
    }
    .text h1 {
        font-size: 48;
    }
    .text p {
        font-size: 20;
    }

    @media (max-width: 1000px) {
        .column {
            margin-left: 20px;
            margin-right: 20px;
            width: 60%;
        }
        .robot-statistics {
            width: 40%;
        }
    }

    @media (max-width: 750px) {
        .robot-content {
            flex-direction: column;
        }

        .column {
            width: 100%;
        }

        .robot-description, .robot-statistics, .robot-gallery {
            margin-left: 5%;
            margin-right: 5%;
            width: 90%;
        }
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<div class="robot-content">
    <div class="column">
    <div class="robot-description">
        <div class="text">
        <h1>
            {{ include.robot.name }}
        </h1>
        <p>{{ include.robot.description }}</p>
        </div>
    </div>
    <div class="robot-gallery">
        {% include structure/gallery.html imgs=include.robot.images videos=include.robot.videos autoplay=true %}
    </div>
    </div>
    <div class="robot-statistics">
        <h2>Statistics</h2>
        {% for competition in include.robot.statistics reversed %}
            <h3>{{ competition.competition }}</h3>
            {% include record.html competition=competition%}
            </div>
            <h4>Matches</h4>
            <div class="competition-scatter">
                {% include adapter/competition-scatter.html competition=competition %}
            </div>
        {% endfor %}
    </div>
</div>