<style>
    .aside {
        float: left;
        top: 85px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 5px 5px;
        border: 4px solid {{site.data.theme.neutral1}};
    }

    @media (max-width: 1000px) {
        .aside {
            margin-left: 120px;
            border: none;
            display: flex;
            flex-direction: row;
        }

        .vex-description {
            margin-right: 20px;
        }

        .video {
            min-width: 250px;
        }
    }

    @media (max-width: 600px) {
        .aside {
            margin-left: 20px;
            flex-direction: column;
        }
    }
</style>
<div class="aside">
    <div class="vex-description">
        <h1>VEX Robotics: Spin Up</h1>
        <iframe src="https://donate.sc.edu/AG/sfp/cec/cybersecurity" name="iframe_a" height="300px" width="100%" title="Iframe Example"></iframe>
    </div>
    <div class="video">
        
    </div>
</div>