{% assign gallery=gallery | plus: 1 %}
<style>
    .gallery {
        display: flex;
        align-items: center;
        padding-top: 56.25%;
    }

    .gallery{{ gallery }}-slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .gallery{{gallery}}-slide img {
        top:0;
        left:0;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .gallery{{gallery}}-slide iframe {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .gallery{{ gallery }}-prev,
    .gallery{{ gallery }}-next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: auto;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    .gallery{{ gallery }}-next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .gallery{{ gallery }}-prev:hover,
    .gallery{{ gallery }}-next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
</style>
<div class="gallery">
    {% for link in include.imgs %}
    <div class="gallery{{gallery}}-slide">
        <img src="{{link}}" style="max-width:100%; min-width: 100%;">
    </div>
    {% endfor %}
    {% if include.videos %}
    <div class="gallery{{gallery}}-slide">
        <div id="gallery-video{{gallery}}"></div>
    </div>
    {% endif %}
    <a class="gallery{{gallery}}-prev" onclick="plusSlides{{gallery}}(-1)">&#10094;</a>
    <a class="gallery{{gallery}}-next" onclick="plusSlides{{gallery}}(1)">&#10095;</a>
</div>

<script>
    var timeoutID{{gallery}};
    slideIndex[{{gallery}}] = 1;
    showSlides{{gallery}}(slideIndex[{{gallery}}]);

    var player{{gallery}};
    
    function plusSlides{{gallery}}(n) {
        showSlides{{gallery}}(slideIndex[{{gallery}}] += n);
    }

    function nextSlide{{gallery}}(event) {
        if (event.target.getPlayerState() == 0)
        plusSlides{{gallery}}(1);
    }
    function nextSlideImg{{gallery}}() {
        plusSlides{{gallery}}(1);
    }

    function showSlides{{gallery}}(n) {
        let slides = document.getElementsByClassName("gallery"+{{gallery}}+"-slide");
        if (n > slides.length + {{include.videos.size}} - 1) { slideIndex[{{gallery}}] = 1 }
        if (n < 1) { slideIndex[{{gallery}}] = slides.length + {{include.videos.length}} - 1 }
        for (let i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        if (slideIndex[{{gallery}}] > {{include.imgs.size }}) {
            slides[slides.length - 1].style.display = "block";
            if (player{{gallery}}) player{{gallery}}.destroy();
            player{{gallery}} = new YT.Player('gallery-video{{gallery}}', { 
                videoId: [{% for vid in include.videos %}
                    "{{vid}}"{% unless forloop.last %},{% endunless %}
                {% endfor %}][slideIndex[{{gallery}}] - slides.length],
                playerVars: {'mute': 1},
                events: {
                    'onReady': playVideo,
                    'onStateChange': nextSlide{{gallery}},
                }
            });
        } else {
            slides[slideIndex[{{gallery}}] - 1].style.display = "block";
            {% if include.autoplay %}
            clearTimeout(timeoutID);
            timeoutID = setTimeout(nextSlideImg{{gallery}}, 6000);
            {% endif %}
        }
    }
</script>
