{% assign gallery=gallery | plus: 1 %}
<style>
    .gallery {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .gallery{{ gallery }}-slide {
        display: none;
        min-width: 100%;
    }

    .gallery-slide-img {
        min-width: 100%;
    }

    .gallery-slide-img img {
        min-width: 100%;
    }

    .gallery{{gallery}}-slide .video {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    

    .gallery{{ gallery }}-prev,
    .gallery{{ gallery }}-next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: auto;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    .gallery{{ gallery }}-next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .gallery{{ gallery }}-prev:hover,
    .gallery{{ gallery }}-next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
</style>
<div class="gallery">
    {% for link in include.imgs %}
    <div class="gallery{{gallery}}-slide">
        <div class="gallery-slide-img">
            <img src="{{link}}" style="max-width:100%; min-width: 100%;">
        </div>
    </div>
    {% endfor %}
    {% if include.videos %}
    <div class="gallery{{gallery}}-slide">
        <div class="video">
            <div class="vid-wrapper">
                <img class="ratio" src="/assets/16x9.png" />
                <div id="gallery-video{{gallery}}"></div>
            </div>
        </div>
    </div>
    {% endfor %}
    <a class="gallery{{gallery}}-prev" onclick="plusSlides{{gallery}}(-1)">&#10094;</a>
    <a class="gallery{{gallery}}-next" onclick="plusSlides{{gallery}}(1)">&#10095;</a>
</div>

<script>
    slideIndex[{{gallery}}] = 1;
    showSlides{{gallery}}(slideIndex[{{gallery}}]);

    var player{{gallery}};
    
    function plusSlides{{gallery}}(n) {
        showSlides{{gallery}}(slideIndex[{{gallery}}] += n);
    }

    function showSlides{{gallery}}(n) {
        let slides = document.getElementsByClassName("gallery"+{{gallery}}+"-slide");
        if (n > slides.length + {{include.videos.length}} - 1) { slideIndex[{{gallery}}] = 1 }
        if (n < 1) { slideIndex[{{gallery}}] = slides.length + {{include.videos.length}} - 1 }
        for (let i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        if (slideIndex[{{gallery}}] > {{include.imgs.length}}) {
            slides[slides.length - 1].style.display = "block";
            if (player{{gallery}}) player{{gallery}}.destroy();
            player{{gallery}} = new YT.Player('gallery-video{{gallery}}', { 
                videoId: {{include.videos}}[slideIndex{{gallery}}-slides.length-1],
                playerVars: {'mute': 1},
            });
        } else {
            slides[slideIndex[{{gallery}}] - 1].style.display = "block";
        }
    }

    function createPlayer{{gallery}}() {
        player{{gallery}} = new YT.Player('video1', { 
            videoId: "StBj0vHMesk",
            playerVars: {
                'mute': 1,
            },
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onStateChange{{gallery}}
            }
         });
    }

    function onStateChange{{gallery}}(event) {

    }
</script>
