<!--
https://cssgrid-generator.netlify.app/
https://fionnachan.medium.com/dynamic-number-of-rows-and-columns-with-css-grid-layout-and-css-variables-cb8e8381b6f2

    INPUT FORMAT

    gridElements = include{,}width{,}height{;}include{,}width{,}height{;}include{,}width{,}height
-->
<!--
    TODO

    Sort by height

    Array[column number]
    Calculate Positions
    

    Calculate total number of rows


-->
{ % assign columnNumber = 5 %}

<style>
    .parent {
        display: grid;
        grid-template-columns: repeat({{columnNumber}}, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
</style>

{% assign gridElements = include.gridElements | split: "{;}" %}
{% for element in gridElements %}
{% assign elementVals = element | split: "{,}" %}
{% assign x = 0 %}
{% assign y = 0 %}
<div style="grid-area: {{y}} / {{x}} / {{y | plus: elementVals[2]}} / {{x | plus: elementVals[1]}};">{{element.first}}</div>
{% endfor %}

<!--
    Sort by height than by width

    Coordinate System
    0,0 0,1 0,2
    1,0 1,1 1,2
    2,0 2,1 2,2
    
    find max width of lowest column
    find block of maximum width with maximum height
    if none can be found find next largest width with largest height


    
    h = 0 0 0 0 0
    // Calculate Widths
    w = 5
    find largest width < heighst width
    add(3x3)

    h = 3 3 3 0 0
    w = 3 2

    add(1x2)

    h = 3 3 3 2 0
    w = 3 1 1

    add(1x2)

    w = 3 2
    h = 3 2
    
    
-->