<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<style>
  .banner {
    position: relative;
    margin: 0;
    background-color: black;
  }
  .banner img{
      display: block;
      max-width: 100%;
      width: 100%;
  }
  .navbar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: sticky;
    top: 0px;
    height: 80px;
    background: {{site.data.theme.primary}};
    color: {{site.data.theme.on_primary}};
    z-index: +1;
    display: flex;
    flex-direction: row;
  }
  .centered img {
    display: block;
    padding: 4px 8px;
    height: 50px;
    float: left;
  }
  .link {
    display: table;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .centered {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: xx-large;
  }
</style>
<div class="banner">
  <img src="/assets/banner.png" />
</div>
<div class="navbar" id="navbar">
  <div class="link">
    <div class="centered">
      <img src="/assets/Team Logo.png" />
    </div>
  </div>
  <div class="link">
    <div class="centered">Gamecock Robotics</div>
  </div>
</div>
