<style>
    .image-wrapper {
        display: flex;
        flex-direction: row;
        background-color: {{ site.data.theme.background }};
        width: 100%;
    }
    .image-wrapper:after {
        content: "";
        display: table;
        clear: both;
    }
    .image-wrapper p, .image-wrapper h1, .image-wrapper h2 {
        color: {{site.data.theme.on_background}};
    }
    .text-wrap {
        float: left;
        max-width: 60%;
    }
    .image-wrapper:nth-of-type(odd) .text-wrap, .image-wrapper:nth-of-type(even) .wrapped-image {
        order:1;
    }
    .image-wrapper:nth-of-type(even) .text-wrap, .image-wrapper:nth-of-type(odd) .wrapped-image {
        order:2;
    }
    .wrapped-image {
        margin-top: 20px;
        float: right;
        width: 40%;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
    .wrapped-image img {
        max-width: 100%;
        max-height: 350px;
    }
    @media (max-width: 600px), (max-width: 4in) {
        .image-wrapper {
            flex-direction: column;
        }
        .text-wrap {
            order: 2 !important;
            min-width: 100%;
        }
        .wrapped-image {
            order: 1 !important;
            width: 100%;
            float: left;
        }
    }
</style>

<div class="image-wrapper">
    <div class="text-wrap">
        <h1>{{ include.title }}</h1>
        <h2>{{ include.subtitle }}</h2>
        {% include structure/socials.html accounts=include.socials %}
        <p>{{ include.first_paragraph }}</p>
        <p>{{ include.second_paragraph }}</p>
    </div>
    <div class="wrapped-image">
        <img src="{{include.image}}">
    </div>
</div>
