<style>
    .scatter-canvas {
        position: relative;
        width: 100%;
        display: block;
    }

    .scatter-canvas .ratio {
        display: block;
        width: 100%;
        height: auto;
    }

    .scatter-canvas canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
<div class="scatter-canvas">
    <img class="ratio" src="/assets/16x9.png">
    <canvas id="{{ include.name }}"></canvas>
</div>
{% assign xValues=include.lists | split: ";" | first %}
{% assign lists=include.lists | split: ";" %}
<script>
    new Chart("{{ include.name }}", {
      type: "line",
      data: {
        labels: [{{xValues}}],
        datasets: [
        {% for datum in lists %}
        {% unless forloop.first %}
        {
            label: "Scores",
            fill: false,
            backgroundColor: "rgba(0,0,255,1.0)",
            borderColor: "rgba(0,0,255,1)",
            pointRadius: 1,
            data: [{{ datum }}]
        },
        {% endunless %}
        {% endfor %}]
      },
      options: {
        legend: {
            display: false,
            position: "bottom",
        },
        scales: {
          yAxes: [{ticks: {min: 0, max:{{ include.max }}}}],
        }
      }
    });
</script>