<style>
  .scatter-canvas {
    position: relative;
    width: 100%;
    display: block;
  }

  .scatter-canvas .ratio {
    display: block;
    width: 100%;
    height: auto;
  }

  .scatter-canvas canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
<div class="scatter-canvas">
  <img class="ratio" src="/assets/16x9.png">
  <canvas id="{{ include.name }}"></canvas>
</div>
{% assign xValues=include.lists | split: ";" | first %}
{% assign lists=include.lists | split: ";" %}
{% assign settings=include.settings | split: ";" %}
<div>
  {% for setting in settings %}
  {% assign setting2=setting | split: ":" %}
  <div style="display:inline-block">
  <div style="display:flex; flex-direction: row; margin-top: 10px;">
    {% assign colors = setting2[1] | split: "("%}
    {% assign colors = colors[1] | split: "," %}
    {% assign color = "" %}
    {% assign hexadecimal="0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F" | split: "," %}
    {% for num in colors %}
    {% unless forloop.last %}
    {% assign index = num | minus: 7.5 | divided_by: 16.0 | round %}
    {% assign tens = index | times: 16 %}
    {% assign index2 = num | minus: tens %}
    {% assign color = color | append: hexadecimal[index] | append: hexadecimal[index2] %}
    {% endunless %}
    {% endfor %}

    <div style="background-color: #{{color}}; width:30px; height: 30px; margin-right: 10px;"></div>
    {{setting2[0] | split: '"'}}
    </div>
  </div>
  {% endfor %}
</div>
<script>
  new Chart("{{ include.name }}", {
    type: "line",
    data: {
      labels: [{{ xValues }}],
    datasets: [
      {% for datum in lists %}
        {% unless forloop.first %}
    {% assign index = forloop.index | minus: 2 %}
    {% assign setting = settings[index] | split: ":" %}
    {
      label: {{ setting[0]}},
    fill: false,
    backgroundColor: {{ setting[1]}},
    borderColor: {{ setting[1]}},
    pointRadius: {{ setting[2]}},
    data: [{{ datum }}]
        },
    {% endunless %}
    {% endfor %}]
      },
    options: {
    legend: {
      display: false,
      position: "bottom",
    },
    scales: {
      yAxes: [{ ticks: { min: 0, max: {{ include.max }}
  }}],
        }
      }
    });
</script>