<div name="footer">
    <style>
        .sponsor {
            display: flex;
            flex-direction: row;
        }
        .footer {
            margin: 0px 0px;
            z-index: 1;
            background-color: {{site.data.theme.primary}};
            min-height: 300px;
        }
        .footer a, .footer p, .footer ul li, .footer ol li, .footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6 {
            padding-top: 50px;
            margin-left: 100px;
            color: {{ site.data.theme.on_primary }}
        }
        .footer img {
            margin-top: 25px;
            margin-left: 10%;
            height: 100px;
        }
    </style>
    <div class="footer">
    </div>
</div>