<style>
    .vid-wrapper {
        height:0;
        padding-top: 56.25%;
        position: relative;
    }

    .vid-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

<div class="vid-wrapper">
    <iframe src="https://www.youtube.com/embed/{{include.src}}" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>