{% assign data = "" %}

{% for match in include.competition.matches %}
    {% assign data=data | append: '"' | append: match.match %}
    {% if forloop.last %}
        {% assign data=data | append: '";' %}
    {% else %}
        {% assign data=data | append: '",' %}
    {% endif %}
{% endfor %}

{% for match in include.competition.matches %}
    {% assign data=data | append: match.score %}
    {% if forloop.last %}
        {% assign data=data | append: ';' %}
    {% else %}
        {% assign data=data | append: ',' %}
    {% endif %}
{% endfor %}

{% for match in include.competition.matches %}
    {% assign data=data | append: match.o_score%}
    {% if forloop.last %}
        {% assign data=data | append: ';' %}
    {% else %}
        {% assign data=data | append: ',' %}
    {% endif %}
{% endfor %}

{% for num in include.competition.matches %}
    {% assign data=data | append: include.competition.a_skills %}
    {% if forloop.last %}
        {% assign data=data | append: ';' %}
    {% else %}
        {% assign data=data | append: ',' %}
    {% endif %}
{% endfor %}

{% for num in include.competition.matches %}
    {% assign data=data | append: include.competition.d_skills %}
    {% if forloop.last %}
        {% assign data=data | append: ';' %}
    {% else %}
        {% assign data=data | append: ',' %}
    {% endif %}
{% endfor %}


{% assign max=include.competition.d_skills %}
{% if include.competition.a_skills > max %}
    {% assign max=include.competition.a_skills %}
{% endif %}
{% for match in include.competition.matches %}
    {% if match.score > max %}
        {% assign max=match.score %}
    {% endif %}
{% endfor %}
{% for match in include.competition.matches %}
    {% if match.o_score > max %}
        {% assign max=match.o_score %}
    {% endif %}
{% endfor %}
{% assign max=max | plus: 25 | divided_by: 50.0 | round | times: 50 %}


{% assign settings='"scores":"rgba(0,0,255,1.0)":4;"opponent scores":"rgba(0,255,0,1.0)":4;"autonomous skills":"rgba(255,0,0,1.0)":1;"driver skills":"rgba(255,0,255,1.0)":1'%}

{% include structure/scatter.html name=include.competition.competition lists=data settings=settings min=0 max=max %}
