<h4>Win Loss Record</h4>
{% assign win=0.0 %}
{% assign loss=0.0 %}
{% assign tie=0.0 %}
{% assign total=0.0 %}
{% for match in include.competition.matches %}
    {% if match.score == match.o_score %}
        {% assign tie = 1.0 | plus: tie %}
    {% elsif match.score < match.o_score %}
        {% assign loss = 1.0 | plus: loss %}
    {% else %}
        {% assign win = 1.0 | plus: win %}
    {% endif %}
    {% assign total = 1.0 | plus: total %}
{% endfor %}
<div style="height:15px; width:100%;display: flex;flex-direction: row;">
<div style="height:15px;background-color:green;width:{{win | divided_by: total | times: 100}}%;"></div>
<div style="height:15px;background-color:yellow;width:{{tie | divided_by: total | times: 100}}%;"></div>
<div style="height:15px;background-color:red;width:{{loss | divided_by: total | times: 100}}%;"></div>