<style>
    .robot-content {
        display: flex;
        flex-direction: row;
        padding-bottom: 30px;
    }

    .column {
        width: calc(60% - 60px);

    }
    .divider {
        width:60px;
    }

    .robot-description {
        width: 100%;
        height: auto;
        float: left;
        margin-bottom: 30px;
    }

    .robot-gallery {
        width: 100%;
        float: left;
        position: relative;
    }

    .robot-statistics {
        width: 40%;
    }

    .competition-scatter {
        width: 100%;
    }
    .robot-description h1 {
        font-size: 48;
    }
    .robot-description p {
        text-indent: 20px;
        font-size: 20;
    }

    @media (max-width: 750px) {
        .robot-content {
            flex-direction: column;
        }

        .divider {
            height: 0;
            width: 100%;
        }

        .column, .robot-description, .robot-statistics, .robot-gallery {
            width: 100%;
        }
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<div class="robot-content">
    <div class="column">
    <div class="robot-description">
        <h1>{{ include.robot.name }}</h1>
        <p>{{ include.robot.description }}</p>
    </div>
    <div class="robot-gallery">
        {% include structure/gallery.html imgs=include.robot.images videos=include.robot.videos autoplay=true %}
    </div>
    </div>
    <div class="divider"></div>
    <div class="robot-statistics">
        <h2>Statistics</h2>
        {% for competition in include.robot.statistics reversed %}
            <h3>{{ competition.competition }}</h3>
            {% include uofsc/record.html competition=competition%}
            </div>
            <h4>Matches</h4>
            <div class="competition-scatter">
                {% include adapter/competition-scatter.html competition=competition %}
            </div>
        {% endfor %}
    </div>
</div>