<div name="sponsor">
    <style>
        .sponsor {
            padding: 10px 30px 10px 10px;
            display: flex;
            flex-wrap: wrap;
            float: left;
        }

        .table{ 
            max-height: 121px;
        }

        .sponsor p, .sponsor h2{
            margin-top: 5px;
            margin-left: 20px;
        }
        .diamond {
            width: 100%;
        }
        .copper, .bronze, .silver, .gold {
            width: 33.33%;
        }
        .gold img, .diamond img {
            max-height:50px;
            max-width: 50px;
        }

        .copper img, .bronze img, .silver img {
            height: 40x;
            max-width: 40px;
            padding: 0px 0px 0px 40px;
        }
        .sponsor img {
            object-fit: contain;
            max-width: 80%;
            float: left;
        }
    </style>
    
    <table class = "table">
        <tr class = "tab">
            <style>
                .table {
                    max-height: 121px;
                }
            </style>
            <th class = "gold">
                <img src = "/assets/stars/gold.png">
            </th>
            <th>
                <img src = "/assets/sponsors/ashley_services.png">
            </th>
            <th class = "bronze">
                <img src = "/assets/stars/bronze.png">
            </th>
            <th>
                <img src = "/assets/sponsors/roper_mountain_animal_hospital.png">
            </th>
        </tr>
    </table>
</div>