<div class="team-intro">
  <h1>Gamecock Robotics</h1>
  {% include structure/socials.html accounts=site.data.club_socials %}
  <p>
    Gamecock Robotics is a VEX U team at the University of South Carolina
    founded in 2021. We have competed in Tipping Point where we qualified for
    Worlds with the Excellence Award, the highest award in the Vex Robotics
    Program. Following this, we won the Judges Award at the World Championship.
    We competed in the Spin Up competition where we won the Create Award at the
    World Championship.
  </p>
  <p>
    Our team also hosts and volunteer at a variety of STEM events each year for
    Elementary, Middle and High School Students. We host a middle school
    tournament each year for new teams to learn about robotics and potentially
    join the vex program. We also volunteer at our University's outreach events
    such as Middle School Day and the College of Engineering and Computing's
    Open House.
  </p>
  <img src="/assets/profiles/Team.jpg" />
</div>
