<style>
    @media (max-width: 1000px) {
        .vex-description {
            margin-right: 20px;
        }
        .video {
            min-width: 250px;
        }
    }
</style>
<div class="vex-description">
    <h1>VEX Robotics: Spin Up</h1>
    <p>
        Vex is a head to head competition where teams compete with two robots to score more points than the other
        team. Teams design, build, program and drive the robots. Each year a different challenge is presented.
    </p>
    <p>
        Gamecock Robotics was founded in 2021 as the robotics team for the University of South Carolina. The team
        has 11 members and 1 faculty advisor.
    </p>
</div>
<div class="video">
    {% include structure/video.html src="wIZgvVDZc2Y" %}
</div>