<style>
    .content:after {
        content: "";
        display: table;
        clear: both;
    }

    .main {
        width: 70%;
        float: left;
    }

    .main p, .main h1, .main h2, .main h3 {
        color: {{ site.data.theme.on_background }};
    }

    .sidebar {
        width: 30%;
        float: left;
        position: sticky;
        top: 85;
        z-index: 0;
    }

    @media (max-width: 1000px) {
        .main {
            width: 100%;
            order: 2;
        }
        .content {
            display: flex;
            flex-direction: column;
        }
        .sidebar {
            width: 100%;
            position: static;
        }
    }
    
    .body {
      background-color: {{site.data.theme.background}};
    }
</style>

<body>
    {% include header.html %}
    <div class="content">
        <div class="main">
            {% for profile in site.data.members %}
                {% include adapter/profile.html member=profile %}
            {% endfor %}
        </div>
        <div class="sidebar">
            {% include vex-intro.html %}
        </div>
    </div>
    {% include footer.html %}
</body>