<style>
    .content {
        margin-top: 40px;
    }

    .content:after {
        content: "";
        display: table;
        clear: both;
    }

    .main {
        width: 70%;
        float: left;
    }

    .main p {
        color: #000;
    }

    .main h1 {
        color: #000;
    }

    .main h2 {
        color: #000;
    }

    .main h3 {
        color: #000;
    }

    .aside {
        width:25%;
        float: left;
        left: 70%
    }

    .sticky-aside {
        width: 25%;
        float: left;
        position: fixed;
        top: 100;
    }

    @media (max-width: 1000px) {
        .main {
            width: 100%;
        }

        .aside {
            width: 100%;
        }
    }
</style>

<body>
    {% include Header.html %}
    <div class="content">
        <div class="main">
            {% for profile in site.data.members %}
            {% include Profile.html member=profile %}
            {% endfor %}
        </div>
        <div id="aside" class="aside">
            <p style="color:#000;">
                I want to test putting some text here and seeing how it looks. I need another sentence for testing purposes</p>
        </div>
    </div>
    {% include Footer.html %}
</body>
{% include scripts.html %}
<!--
    1000 < screen width
        large margin; [Text; Image;](alternate order) Aside (vertical) (sticky)
    500 < screen width < 1000
        large margin; aside (horizontal)
        large margin; [Text; Image](alternate order)
    screen width < 500
        small margin; aside (vertical)
        Image
        Text
-->