<style>
    body {
      background-color: {{site.data.theme.background}};
    }
    body a, body p, body ul li, body ol li, body h1, body h2, body h3, body h4, body h5, body h6 {
        color: {{ site.data.theme.on_background }}
    }
</style>
<body>
{% include header.html %}
{% include structure/gallery-script.html %}
{% include structure/ytapi.html %}
{% for robot in site.data.robots reversed %}
    {% include trifold.html robot=robot %}
    {% unless forloop.last %}
    <div style="height: 1px;background-color:{{site.data.theme.neutral1}};margin-left:50px;margin-right:50px;margin-top:20px;"></div>
    {%endunless%}
{% endfor %}
{% include footer.html %}
</body>